.button {
  background-color: green;
  color: white;
  font-size: 16px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;

  &:disabled,
  [disabled] {
    cursor: auto;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}